@{ ViewData["Title"] = "Home Page"; }

<div class="text-white">
    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
    </div>
    <br />
    <div>
        <h5>This project is a simple mailbox created during 5th term of IT studies at the Faculty of Mathematics and Information Science, Warsaw University of Technology.</h5>
    </div>
    <br />
    <div>
        <h2>Authors:</h2>
        <ul>
            <li>Damian Opoka</li>
            <li>Wojciech Podmokły</li>
            <li>Adam Ryl</li>
        </ul>
    </div>
    <br />
    <div>
        <p>
            # Getting Started<br />
            The project builds on ASP.NET Core 3.1. Can be opened in Visual Studio 2019.
        </p>
        <p>
            # Build and Test<br />
            The project is built and tested after committing. Can be opened and compiled in Visual Studio 2019.
        </p>
        <p>
            # Contribute<br />
            All added functionalities have to be tested. Changes can't break already working functionalities. The Master branch can contain only fully tested and working code.
        </p>
    </div>
</div>