@{ ViewData["Title"] = "Privacy Policy"; }

<div class="text-white">
    <h1>@ViewData["Title"]</h1>
    <br />
    <p>© 2020. All rights reserved.</p>
    <p>Copying materials on this website without the prior consent of the owners is prohibited under the pain of 25-years' imprisonment or paying fine of PLN 100.</p>
</div>
