@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container table-dark table-inbox" id="inbox_table" border="1">
    <div class="row no-gutters">
        <div class="col-1 no-gutters"><span>Read</span></div>
        <div class="col-2 no-gutters"><span>Recipient</span></div>
        <div class="col-8 no-gutters"><span>Text</span></div>
        <div class="col-1 no-gutters"><span>Date</span></div>
    </div>
    <div class="mail-list">
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
        <div class="row no-gutters">
            <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
            <div class="col-2 no-gutters"><span>Adam Kowal</span></div>
            <div class="col-8 no-gutters"><span>Dzień dobry. Pisze do Pana w sprawie spotkania. Niestety nie moge pojawic się ponieważ mam dużo zajęć w domu. Musze posprzątać bałagan. Naprawić stół. Umyć kuchnie. Zamieść podłoge. Pozdrawiam Adam Kowalczyk.</span></div>
            <div class="col-1 no-gutters"><span>19.02.2010</span></div>
        </div>
    </div>
</div>