@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ var mails = ViewData["Mails"] as List<MailBox.Models.MailModels.MailInboxView>; }
<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/inbox.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/data.js"></script>
</head>
<body class="bg-black">
    <div>
        <a asp-action="Create">Create New</a>
    </div>
    <div class="input-group mb-3 container-search">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-primary" type="button">Search</button>
        </div>
    </div>
    <div class="container-fluid text-white">
        <div class="row">
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Folders</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">Inbox</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Sent</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Spam</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Stared</button></div>
                </div>
                <div class="row no-gutters container-board-white container-new" id="folders_container">
                    <div class="col-10 no-gutters">
                        <input type="text" class="form-control input-new_folder border-0" placeholder=" New folder..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-2 no-gutters">
                        <button class="bg-black text-light text-center border-0 btn-new" type="button">+</button>
                    </div>
                </div>
                <div><br /></div>
                <div class="container-title">
                    <h4>Actions</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">New email</button></div>
                    <div class="button-container"><button onclick="GoToGroupManagement()" type="button" class="btn-folder">Manage groups</button></div>
                </div>
            </div>
            <div class="col-8 no-float bg-dark-transparent" id="main_div">
                <div class="container bg-dark2 table-inbox" id="inbox_table" border="1">
                    <div class="row no-gutters">
                        <div class="col-1 no-gutters"><span>Read</span></div>
                        <div class="col-2 no-gutters"><span>Sender</span></div>
                        <div class="col-7 no-gutters"><span>Text</span></div>
                        <div class="col-2 no-gutters"><span>Date</span></div>
                    </div>
                    <div class="mail-list">
                        @foreach (MailBox.Models.MailModels.MailInboxView item in mails)
                        {
                            <div class="row no-gutters">
                                <div class="col-1 no-gutters"><span><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></div></span></div>
                                <div class="col-2 no-gutters"><span>@Html.DisplayFor(modelItem => item.Sender.Name)</span></div>
                                <div class="col-7 no-gutters"><a asp-action="Details" asp-route-id=@item.MailID>@Html.DisplayFor(modelItem => item.Text)</a>  </div>
                                <div class="col-2 no-gutters"><span>@Html.DisplayFor(modelItem => item.Date)</span></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Groups</h4>
                    <hr />
                </div>
                <div id="groupsPanel" class="container-groups overflow-auto">

                </div>
            </div>
        </div>
    </div>
</body>
