@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/inbox.css" rel="stylesheet" />
    <link href="~/css/newMail.css" rel="stylesheet" />
</head>
<body class="bg-black">
    <div class="input-group mb-3 container-search">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-primary" type="button">Search</button>
        </div>
    </div>
    <div class="container-fluid text-white">
        <div class="row">
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Folders</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">Compose</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Inbox</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Sent</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Spam</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Stared</button></div>
                </div>
                <div class="row no-gutters container-board-white container-new" id="folders_container">
                    <div class="col-10 no-gutters">
                        <input type="text" class="form-control input-new_folder border-0" placeholder="New folder..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-2 no-gutters">
                        <button class="bg-black text-light text-center border-0 btn-new" type="button">+</button>
                    </div>
                </div>
            </div>
            <div class="col-8 no-float bg-dark-transparent" id="mail_div">
                <div class="container bg-dark2">

                    <form>
                        <div class="form-row">
                            <br />
                        </div>
                        <div class="form-row">
                            <div class="col-12 form-group">
                                <button type="button" class="btn btn-secondary float-left">&#8592;</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-2">
                                <label class="col-form-label">To:</label>
                            </div>
                            <div class="col-10">
                                <input type="email" class="form-control inputS" id="to" placeholder="Type email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-2">
                                <label class="col-form-label">Subject:</label>
                            </div>
                            <div class="col-10">
                                <input type="tel" class="form-control inputS" id="subject" placeholder="Type subject">
                            </div>
                        </div>
                        <div class="form-row">
                            <br />
                        </div>
                        <div class="form-row">
                            <div class="col-12 form-group">
                                <textarea class="form-control" id="emailText" rows="15" placeholder="Click here"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 form-group">
                                <button type="submit" class="btn btn-secondary float-left">attach files</button>
                                <button type="submit" class="btn btn-success float-right">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Groups</h4>
                    <hr />
                </div>
                <div class="container-groups overflow-auto">
                    <div class="container-group">
                        <div class="container-group-title">
                            <div class="row no-gutters">
                                <div class="col-10 no-gutters">
                                    <h6>Contacts</h6>
                                </div>
                                <div class="col-2 no-gutters">
                                    <button class="bg-black text-light text-center border-0 btn-new" type="button">...</button>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="container-contacts overflow-auto">
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                        </div>
                    </div>
                    <div class="container-group">
                        <div class="container-group-title">
                            <div class="row no-gutters">
                                <div class="col-10 no-gutters">
                                    <h6>Friends</h6>
                                </div>
                                <div class="col-2 no-gutters">
                                    <button class="bg-black text-light text-center border-0 btn-new" type="button">...</button>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="container-contacts overflow-auto">
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                        </div>
                    </div>
                    <div class="container-group">
                        <div class="container-group-title">
                            <div class="row no-gutters">
                                <div class="col-10 no-gutters">
                                    <h6>Work</h6>
                                </div>
                                <div class="col-2 no-gutters">
                                    <button class="bg-black text-light text-center border-0 btn-new" type="button">...</button>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="container-contacts overflow-auto">
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                            <label class="col-form-label-sm bg-blue-label">stanisławż@wp.pl</label><br />
                        </div>
                    </div>
                </div>
                <div class="row no-gutters container-board-white container-new" id="folders_container">
                    <div class="col-10 no-gutters">
                        <input type="text" class="form-control input-new_folder border-0" placeholder="New group..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-2 no-gutters">
                        <button class="bg-black text-light text-center border-0 btn-new" type="button">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
