@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{ 
    var globalListJson = new System.Net.WebClient().DownloadString("https://localhost:44311/user/globallist");
    var globalList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<MailBox.Models.UserModels.UserGlobalView>>(globalListJson);
}

<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/inbox.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/data.js"></script>
</head>
<body class="bg-black">
    <div class="container-fluid text-white">
        <div class="row">
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Folders</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">Inbox</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Sent</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Spam</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Stared</button></div>
                </div>
                <div class="row no-gutters container-board-white container-new" id="folders_container">
                    <div class="col-10 no-gutters">
                        <input type="text" class="form-control input-new_folder border-0" placeholder=" New folder..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-2 no-gutters">
                        <button class="bg-black text-light text-center border-0 btn-new" type="button">+</button>
                    </div>
                </div>
                <div><br /></div>
                <div class="container-title">
                    <h4>Actions</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">New email</button></div>
                    <div class="button-container"><button onclick="GoToGroupManagement()" type="button" class="btn-folder">Manage groups</button></div>
                </div>
            </div>
            <div class="col-8 no-float bg-dark-transparent" id="mail_div">
                <div class="container bg-dark2">

                    <form>
                        <div class="form-row">
                            <br />
                        </div>
                        <div class="form-row">
                            <div class="col-12 form-group">
                                <button type="button" class="btn btn-secondary float-left">&#8592;</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-2">
                                <label class="col-form-label">To:</label>
                            </div>
                            <div class="col-10">
                                <input type="email" class="form-control margin-0" id="to" placeholder="Type email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-2">
                                <label class="col-form-label">Subject:</label>
                            </div>
                            <div class="col-8">
                                <input type="tel" class="form-control inputS" id="subject" placeholder="Type subject">
                            </div>
                            <div class ="col-2">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Global list
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @foreach (var user in globalList)
                                        {
                                            <a class="dropdown-item" href="#">@user.Address</a>
                                        }
                                    </div>
                                </div>
</div>
                        </div>
                        <div class="form-row">
                            <br />
                        </div>
                        <div class="form-row">
                            <div class="col-12 form-group">
                                <textarea class="form-control" id="emailText" rows="15" placeholder="Click here"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 form-group">
                                <button type="submit" class="btn btn-secondary float-left">attach files</button>
                                <button type="submit" class="btn btn-success float-right">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Groups</h4>
                    <hr />
                </div>
                <div id="groupsPanel" class="container-groups overflow-auto">
                </div>
            </div>
        </div>
    </div>
</body>
